body {
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  font-family: Georgia, "Times New Roman", Times, serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
  width: 90%;
  max-width: 500px;
  border-radius: 30px;
  border: 2px solid purple;
  padding: 20px;
  background: rgba(255, 255, 255, 0.036);
}

.heading {
  padding: 20px;
  border-radius: 10px;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}

#line {
  width: 100%;
  height: 2px;
  background-color: purple;
}

.bar {
  width: 130px;
  height: 8px;
  background-color: white;
  border-radius: 10px;
}
.progress {
  width: 0px;
  height: 8px;
  background-color: rgb(91, 52, 175);
  border-radius: 10px;
  transition: all 0.3s ease;
}

.stat {
  background-color: rgb(91, 52, 175);
  color: white;
  font-size: 30px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 5px;
}
.input input {
  flex: 1;
  height: 35px;
  border: 1px solid rgb(91, 52, 175);
  border-radius: 5px;
  padding: 5px;
}
.input button {
  height: 45px;
  width: 45px;
  border: 1px solid rgb(91, 52, 175);
  color: white;
  border-radius: 50%;
  background-color: rgb(91, 52, 175);
  flex-shrink: 0;
}
.input button:hover {
  background-color: blueviolet;
}

#clear {
  height: 30px;
  width: 80px;
  border: 1px solid rgb(91, 52, 175);
  border-radius: 50px;
  background-color: rgb(91, 52, 175);
  color: white;
  margin: 10px auto;
}
#clear:hover {
  background-color: blueviolet;
}


#task-container {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.task {
  border: 2px solid grey;
  border-radius: 5px;
  margin-top: 5px;
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
  gap: 5px;
  padding: 5px;
  background: rgb(220, 218, 221);
}

.text {
  flex: 8;
  padding: 5px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  text-align: left;
}

.edit-input {
  flex: 8;
  padding: 5px;
  border: 1px solid gray;
  border-radius: 3px;
  font-size: 14px;
}

.check-btn {
  color: green;
  font-size: 20px;
}
.delete-btn {
  color: rgb(217, 64, 64);
  font-size: 20px;
}
.edit-btn {
  color: orange;
  font-size: 18px;
}

button {
  cursor: pointer;
  background: none;
  border: none;
}


@media (max-width: 480px) {
  .container {
    width: 95%;
    margin: 20px auto;
    padding: 15px;
  }

  .stat {
    width: 55px;
    height: 55px;
    font-size: 16px;
  }

  .input input {
    font-size: 14px;
  }

  .check-btn,
  .delete-btn,
  .edit-btn {
    font-size: 16px;
  }
}
